@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {

    /* primary colours */
    --clr-primary-100: hsl(185, 75%, 39%);
    --clr-primary-200: hsl(229, 23%, 23%);
    --clr-primary-300: hsl(227, 10%, 46%);

    /* neutral colours */
    --clr-neutral-50: hsl(0, 0%, 80%);
    --clr-neutral-100: hsl(0, 0%, 59%);

    /* typography */
    --ff-base: 'Kumbh Sans', sans-serif;
    --fs-base: 1rem;
    --fs-heading: 1.125rem;
    --fw-400: 400;
    --fw-700: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

img {
    max-width: 100%;
    display: block;
}

h2 {
    font-size: inherit;
}

p {
    line-height: 1.4;
}

hr {
    width: 100%;
    color: var(--clr-primary-300);
}

body {
    /* position: relative; */
    font-family: var(--ff-base);
    font-size: var(--fs-base);
    height: 100vh;
    justify-content: center;
    background-color: var(--clr-primary-100);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: right -30% top 150%, left -20% top -75%;
    background-repeat: no-repeat;
}

/* utility classes */
.flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}

.col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.text-sm {
    font-size: calc(var(--fs-base)*0.6);
}

.text-md {
    font-size: calc(var(--fs-base)*0.8);
}

.text-heading {
    font-size: var(--fs-heading);
    color: var(--clr-primary-200);
}

.text-gray {
    color: var(--clr-neutral-100);
}

.text-center {
    text-align: center;
}

/* individual styles */
.card {
    width: min(90%, 28rem);
    margin-inline: auto;
    overflow: hidden;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

.card__bg-pattern {
    position: relative;
}

.avatar {
    position: absolute;
    bottom: -2.75rem;
    left: 50%;
    transform: translate(-50%);
    width: 5.5rem;
    height: 5.5rem;
    border: 0.25rem solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.card__body {
    background-color: #fff;
    padding-block: 4rem 1.5rem;
    gap: 1.3rem;
    justify-content: center;
}

.profile {
    gap: 0.4rem;
}

.profile>div {
    gap: 0.7rem;
    justify-content: center;
}

.stats {
    justify-content: space-evenly;
    padding-block-start: 1.5rem;
    border-block-start: 1px solid var(--clr-neutral-50);
}

.stats h3 {
    margin-block-end: 0.2rem;
}

.stats p {
    letter-spacing: 1px;
}

/* footer */
.attribution {
    color: var(--clr-primary-200);
    margin-block-start: 1rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: #fff;
}

@media (min-width: 376px) {
    body {
        background-position: left -40% top 150%, left 130% top -130%;
    }
}